.searchBar {
}

.sidebarButton:hover{
    background-color: #AAAAAA;
}

.sidebarSection {
    background-color: #BBBBBB;
    border-color: #000000;
    border-width: 5px 0px;
    min-height: 10%;
    width: 100%;
    overflow-y: auto;
}